body {
    text-align: center;
    font-family: Arial;
    padding: 40px;
    background: #f2f2f2;
}

textarea {
    width: 300px;
    height: 100px;
    padding: 10px;
}

button {
    padding: 10px 15px;
    margin: 10px;
    cursor: pointer;
}

.note {
    background: white;
    width: 300px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.note button {
    position: absolute;
    top: 5px;
    right: 5px;
}
