body {
    text-align: center;
    font-family: Arial;
    margin-top: 100px;
}

#time {
    font-size: 40px;
    margin: 20px;
}

input, button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}
