body {
    text-align: center;
    font-family: Arial;
    background: #f2f2f2;
    padding: 40px;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    margin: 5px auto;
    padding: 10px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}
