body {
    text-align: center;
    font-family: Arial;
    padding: 40px;
    background: #f2f2f2;
}

input {
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    margin: 5px auto;
    padding: 10px;
    width: 250px;
    display: flex;
    justify-content: space-between;
}
