body {
    text-align: center;
    font-family: Arial;
    margin-top: 100px;
    background: #f2f2f2;
}

input {
    padding: 10px;
    width: 220px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
}
