body {
    text-align: center;
    margin-top: 80px;
    font-family: Arial;
}

input {
    padding: 8px;
    width: 200px;
}

button {
    padding: 8px 12px;
    margin-left: 5px;
}

li {
    margin: 10px;
    cursor: pointer;
}
