body{
    text-align:center;
    font-family:Arial;
    background:#f2f2f2;
    padding:40px;
}

input{
    padding:8px;
    width:200px;
}

button{
    padding:8px 12px;
    cursor:pointer;
}

ul{
    list-style:none;
    padding:0;
}

li{
    background:white;
    width:300px;
    margin:10px auto;
    padding:10px;
    display:flex;
    justify-content:space-between;
    border-radius:5px;
}

.completed{
    text-decoration:line-through;
    color:gray;
}
