body{
    text-align:center;
    font-family:Arial;
    background:#f2f2f2;
}

.calculator{
    width:220px;
    margin:auto;
    padding:20px;
    background:white;
    border-radius:10px;
}

#display{
    width:200px;
    height:40px;
    font-size:20px;
    margin-bottom:10px;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:5px;
}

button{
    padding:15px;
    font-size:16px;
    cursor:pointer;
}
