body {
    text-align: center;
    font-family: Arial;
    margin-top: 60px;
    background: #f2f2f2;
}

#quizBox {
    background: white;
    width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
}

button {
    padding: 10px;
    margin: 8px;
    cursor: pointer;
}
