body {
    text-align: center;
    margin-top: 120px;
    font-family: Arial;
}

#time {
    font-size: 50px;
    margin: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
}
