body {
    text-align: center;
    margin-top: 80px;
    font-family: Arial;
}

input {
    padding: 8px;
    width: 200px;
}

button {
    padding: 8px 12px;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}
